<div class="ui basic modal delete">
    <i class="close icon"></i>
    <div class="header">
        تایید
    </div>
    <div class="image content">
        <div class="image">
            <i class="archive icon"></i>
        </div>
        <div class="description">
            <p>آیا از انجام عملیات مورد نظر اطمینان دارید؟</p>
        </div>
    </div>
    <div class="actions">
        <div class="fluid ui inverted">
            <div class="ui red cancel inverted button">
                <i class="remove icon"></i>
                خیر
            </div>
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                بله
            </div>
        </div>
    </div>
</div>