<div class="ui basic modal upload-limit">
    <i class="close icon"></i>
    <div class="header">
        محدودیت در بارگذاری فایل
    </div>
    <div class="image content">
        <div class="image">
            <i class="archive icon"></i>
        </div>
        <div class="description">
            <p>شما بیشتر از پنج تصویر نمیتوانید بارگذاری کنید.</p>
        </div>
    </div>
    <div class="actions">
        <div class="fluid ui inverted">
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                تایید
            </div>
        </div>
    </div>
</div>